In [1]:
import pandas as pd

In [2]:
import pandas as pd

splits = {'train': 'wiki.full.aner.ori.train.95.tsv', 'validation': 'wiki.full.aner.ori.valid.95.tsv', 'test': 'wiki.full.aner.ori.test.95.tsv'}
train = pd.read_csv("hf://datasets/bogdancazan/wikilarge-text-simplification/" + splits["train"], sep="\t")
val = pd.read_csv("hf://datasets/bogdancazan/wikilarge-text-simplification/" + splits["validation"], sep="\t")
test = pd.read_csv("hf://datasets/bogdancazan/wikilarge-text-simplification/" + splits["test"], sep="\t")

In [3]:
train

,Normal,Simple
0,there is manuscript evidence that austen conti...,there is some proof that austen continued to w...
1,in a remarkable comparative analysis mandaean ...,mandaean scholar s ve s derberg showed that ma...
2,before persephone was released to hermes who h...,when demeter went to the underworld to rescue ...
3,geneva lrb rrb is the second most populous cit...,the city s main newspaper is the tribune de ge...
4,when japan earned another race on the f schedu...,when japan was added back to the f schedule te...
...,...,...
148838,tijs michiel verwest was born in breda north b...,he was born on january in the netherlands.
148839,these structures form at the high pressure dep...,these structures form at the high pressure dep...
148840,saint maixant is a commune in the gironde depa...,saint maixant gironde is a commune. it is foun...
148841,boulogne billancourt is the most populous subu...,consequently boulogne billancourt is one of th...
148842,overall juventus have won official competition...,the club is the most successful team in the hi...

In [4]:
val

,Normal,Simple
0,upper sorbian is a minority language spoken by...,there are around speakers of upper sorbian liv...
1,relation to the nobel prize the sveriges riksb...,the sveriges riksbank prize in economic scienc...
2,a shoe is an item of footwear evolved at first...,a shoe is also an item of clothing.
3,helicopter rotor the rotary wing lrb s rrb of ...,rotor a former radar project in the uk followi...
4,in it had over students studying academic prog...,in it had over students studying academic prog...
...,...,...
489,moody bible institute lrb mbi rrb was founded ...,in it was started by evangelist and businessma...
490,we ll do our best whate er the test,well do our best whate er the test
491,sedimentary rock is one of the three main rock...,other types of rock are igneous rock and metam...
492,east timor also known as timor leste lrb tetum...,the democratic republic of east timor or timor...
493,one of the largest of the classic maya cities ...,the ruins are on lowland rainforest but tikal ...

In [5]:
test

,Normal,Simple
0,his next work saturday follows an especially e...,his next work at saturday will be a successful...
1,the tarantula the trickster character spun a b...,the tarantuala the trickster spun a black chor...
2,there he died six weeks later on january.,he died six weeks later on january th.
3,they are culturally akin to the coastal people...,their culture is similar to the culture of the...
4,following the drummers are dancers who often p...,the drummers are dancers and often play the so...
...,...,...
186,his real date of birth was never recorded but ...,since his actual date of birth was not recorde...
187,this quantitative measure indicates how much o...,this quantitative measure indicates how much o...
188,there he had one daughter later baptized as ma...,he had one daughter named mary ann fisher powe...
189,during an interview edward gorey mentioned tha...,during an interview edward gorey said that baw...
190,gable also earned an academy award nomination ...,gable also earned an academy award nomination ...

In [6]:
hi = pd.read_csv("data/train.csv")

In [7]:
hi.loc[0]

Normal    there is manuscript evidence that austen conti...
Simple    there is some proof that austen continued to w...
Name: 0, dtype: object